/*!
 * jQuery blueberryCharts Plugin
 * https://github.com/iseries/blueberryCharts.js
 *
 * Copyright 2017, iseries
 * https://github.com/iseries
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
*/
html body .blueberryChart {
    position: relative;
    height: 150px;
    width: 100%;
    background: transparent;
    padding-top: 10px;
}

html body .blueberryChart > .blueberryLine {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

html body .blueberryChart > .blueberryLine svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

html body .blueberryChart > .blueberryLine svg polyline {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke: red;
}

html body .blueberryChart > .blueberryLine > .blueberryPoints > .blueberryPoint {
    position: absolute;
    z-index: 1;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    margin-bottom: -5px;
    margin-left: -5px;
}

html body .blueberryChart > .blueberryLine > .blueberryPoints > .blueberryPoint > .blueberryTooltip {
    position: absolute;
    background: blue;
    bottom: 13px;
    left: 50%;
    transform: translate3d(-50%, 10px, 0);
    font-weight: 600;
    font-size: 20px;
    line-height: 11px;
    color: white;
    padding: 8px 6px;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    transition: transform 0.4s ease-out 0s, opacity 0.4s ease-out 0s;
}

html body .blueberryChart > .blueberryLine > .blueberryPoints > .blueberryPoint:hover {
    border: 3px solid rgba(255, 255, 255, 0.5);
    margin-bottom: -8px;
    margin-left: -8px;
}

html body .blueberryChart > .blueberryLine > .blueberryPoints > .blueberryPoint:hover > .blueberryTooltip {
    visibility: visible;
    opacity: 1;
    transform: translate3d(-50%, -2px, 0);
}

/*# sourceMappingURL=blueberryCharts.css.map */
