@media (max-width: 1199.98px) {
    .search_bar .buttons button, .confirm_delet button{
        width: 95px;
        font-size: 12px;
    }
}


@media (max-width: 1070px) {
   
}



@media (max-width: 991.98px) {

    .menu ul li a{
        padding-left: 35px;
    }
    .first-sale .content, .confirm_delet .content{
        width: 100%;
        max-width: 40rem;
    }
    .search_bar input{
        height: 45px;
        padding: 5px;
    }
    .search_bar button{
        width: 5rem;
        padding: 10px 0 !important;
        font-size: 12px;
    }
    .confirm_delet button{
        width: 7rem;
        padding: 10px 0 !important;
        font-size: 12px;
        height: 42px;
        margin: 2px;
    }
    .search_bar .buttons button{
        height: 45px;
    }
    .admin_home .bar .text {
        max-width: inherit;
        width: 92%;
    }
    .admin_home .bar .cross{
        width: 16px;
    }
    .affaliate_analytics table .brnad{
        width: auto;
    }

}



@media (max-width: 767.98px) {
    
    .menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        max-width: 15rem;
        height: 100%;
        z-index: 99;
        overflow: auto;
        opacity: 0;
        transition: .3s;
    }
    .menu ul li{
        border: none;
    }
    .menu.active{
        left: 0 !important;
        opacity: 1;
        background: #fff;
    }
    .moverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        z-index: -9;
    }
    .moverlay.activee{
        z-index: 9;
    }
    .menu ul li{
        padding: 12px 20px;
    }
    .menu ul li a{
        font-size: 14px;
        padding-left: 28px;
    }
    .menu ul li img{
        max-width: 20px;
    }
    
    .admin-messenger .bar{
        display: none;
    }
    .send-bar .icon{
        text-align: left;
    }
    .carousel101 ul li{
        font-size: 12px;
        margin: 10px 0;
    }
    .first-sale button {
        width: 12rem;
        height: 45px;
        margin: 0 1px;
        font-size: 12px;
    }
    .first-sale button a{
        line-height: 45px;
    }
    .admin_home .bar{
        display: none;
    }
    .search_bar .buttons {
        text-align: center;
        margin-top: 20px;
    }
    
 }

@media (max-width: 575.98px) {
    
    .admin_code h6 {
        font-size: 18px;
        line-height: normal;
    }
    admin_code button {
        width: 7rem;
        height: 42px;
    }
    .search_bar .buttons {
        text-align: center;
        margin-top: 20px;
    }
    .admin_code button {
        width: 5rem;
        height: 35px;
        font-size: 10px;
        margin: 2px;
    }
    .first-sale .content{
        padding: 30px;
    }
    .settings{
        padding: 30px;
    }
    .settings .content{
        margin: 12px 0;
    }
    .affaliate_code{
        padding: 25px;
    }
    .verify{
        padding: 20px 30px;
    }
    .verify h5{
        font-size: 17px;
    }
    .verify span {
        top: 18px;
        font-size: 15px;
        left: 10px;
    }
    .verify p {
        font-size: 12px;
        line-height: normal;
    }
    .verify button{
        font-size: 10px;
    }

}

@media (max-width: 430px) {
    
    .chat{
        padding: 10px;
    }
    .first-sale button{
        margin: 5px;
    }
    .first-sale h5{
        margin-bottom: 25px;
    }
    
}



@media (max-width: 350px) {
   
}


@media (max-width: 318.98px) {
   
}
