/*global section*/



body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.container-fluid{
    max-width: 1480px;
    padding-left: 40px;
    padding-right: 40px;
}
.hyper{
    color: #0B9BF1;
    cursor: pointer;
}
img {
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    cursor: pointer;
}

input,
button:focus {
    border: none;
    outline: none;
    box-shadow: 0 0 0;
}

section {
    position: relative;
    overflow: visible;
}

.fixed-top {
    position: fixed !important;
    background: transparent;
    padding: 0 26px;
    width: 100%;
    max-width: 20rem;
    overflow: auto;
    height: 100%;
    z-index: 9;
}
/*end global section*/




/* top bar */

.top-bar {
    padding: 40px 0;
}
.top-bar .logo img {
    max-width: 65px;
    margin-top: -18px;
}
.top-bar .search {
    padding: 0;
    position: relative;
}
.top-bar .search input {
    width: 100%;
    border: 1px solid gray;
    padding: 10px;
    height: 50px;
}
.top-bar .search button {
    color: #fff;
    background: #000;
    text-transform: capitalize;
    border: none;
    padding: 12px 30px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.top-bar .image {
    position: relative;
    text-align: right;
    padding: 11px 0;
}
.top-bar .image img {
    max-width: 55px;
    cursor: pointer;
    margin-top: -13px;
    border-radius: 50%;
}
.top-bar .content h6 {
    font-size: 18px;
    margin-bottom: 2px;
}
.top-bar .content a {
    color: #6666d4;
    text-transform: capitalize;
    text-decoration: none;
}
.top-bar .image ul {
    text-align: left;
    position: absolute;
    top: 60px;
    right: 15px;
    background: #fff;
    z-index: 99;
    box-shadow: 0px 0px 10px #d7c7c7;
    display: none;
}
.top-bar .image ul li {
    border-bottom: 1px solid #918787;
    padding: 10px 15px;
}
.top-bar .image ul li:last-child{
    border-bottom: 0;
}
.top-bar .image ul li a {
    display: block;
    color: #000;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}
.menu ul li a span {
    font-size: 12px;
    float: right;
    background: red;
    color: #fff;
    width: 40px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 8px;
}

/* end top bar */




/* menu */

.main-content {
    background: #f8f8f8;
    padding: 40px 0;
}
.menu ul{
    background: #fff;
}
.menu ul li {
    margin: 0;
    background: #fff;
    padding: 19px 20px;
    border-bottom: 1px solid #b3aeae;
}
.menu ul li.settings {
    margin-top: 12rem;
    border-bottom: 0;
    border-top: 1px solid #b3aeae;
}
.menu ul li.active {
   background: #f8f8f8;
}
.menu ul li a {
    overflow: hidden;
    font-size: 19px;
    text-transform: capitalize;
    color: #000;
    font-weight: 600;
    position: relative;
    padding-left: 56px;
    text-decoration: none;
}
.menu ul li img {
    max-width: 32px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
}

/* end menu */



/* affaliate overview */

.overview-content h3 {
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 20px;
}
.overview-content .search {
    position: relative;
}
.overview-content input {
    width: 100%;
    background: #fff;
    border: 1px solid #c9c5c5;
    height: 48px;
    padding: 10px;
}
.overview-content .search button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: #e4e4e4;
    border: none;
    padding: 10px 35px;
    text-transform: capitalize;
    font-weight: 600;
    color: gray;
}
.overview-content .buttons button {
    background: #e4e4e4;
    border: none;
    padding: 12px 24px;
    text-transform: capitalize;
    font-weight: 600;
    color: gray;
    width: 8rem;
    margin-left: 15px;
}





.affaliate_grid {
    padding: 20px 0;
}
.affaliate_grid .content {
    text-align: left;
    margin: 16px 0;
}
.affaliate_grid .content .box {
    background: #dcd9d9;
    width: 100%;
    height: 12rem;
}
.affaliate_grid .content h6 {
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 0;
    cursor: pointer;
}

/* end affaliate overview */




/* admin dashbord */

.dashbord_overview h3 {
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 20px;
}
.dashbord_overview .overview {
    margin: 15px 0;
    background: #fff;
    padding: 20px;
}
.dashbord_overview .overview h6{
    text-transform: capitalize;
}
.dashbord_overview .overview h4 {
    position: relative;
}
.dashbord_overview .overview h4 .up {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 35px;
    font-size: 15px;
    color: green;
}
.dashbord_overview .overview h4 .value {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 15px;
    color: green;
}

/* end admin dashbord */




/* admin home */

.admin_content a {
    text-transform: capitalize;
    color: #000;
    font-weight: 500;
    text-decoration: none;
}
.admin_content h3 {
    text-transform: capitalize;
    font-weight: 500;
    margin: 10px 0;
}
.admin_content .content {
    width: 100%;
    height: 35rem;
    background: #fff;
    margin: 15px 0;
    padding: 30px;
}
.admin_content .content h6 {
    font-size: 20px;
    font-weight: 500;
}
.admin_content .content p{
    font-size: 20px;
}

/* end admin home */



/* admin plazma */

.admin_plazma {
    padding: 10px 0;
}
.admin_plazma a {
    text-transform: capitalize;
    color: #000;
    font-weight: 500;
    text-decoration: none;
}
.admin_plazma h3 {
    text-transform: capitalize;
    font-weight: 500;
    margin: 10px 0;
}
.admin_plazma .box {
    width: 100%;
    height: 5rem;
    background: #fff;
    margin: 30px 0;
    padding: 25px 35px;
}
.admin_plazma .box h5 {
    margin: 0;
    overflow: hidden;
}
.admin_plazma .box h5 span{
    float: right;
}

/* end admin plazma */



/* admin home vent */

.admin_home_vent .content {
    height: 20rem;
}

/* admin home vent */




/* admin home */

.admin_home .bar {
    padding: 15px;
    position: relative;
}
.admin_home .box {
    margin: 55px 0;
    background: #fff;
    padding: 60px;
    box-shadow: 0px 0px 10px #dddada;
    text-align: center;
}
.admin_home .box h6 {
    font-size: 24px;
    font-weight: 600;
}
.admin_home .box p {
    font-size: 20px;
    text-align: left;
    margin: 20px 0;
}
.admin_home .box p a {
    color: #007bff;
    text-decoration: underline;
}
.admin_home .box button {
    background: #000;
    color: #fff;
    font-size: 20px;
    border: none;
    width: 15rem;
    height: 55px;
}
.admin_home .verify_email, .admin_home .verify_email2{
    text-align: left !important;
}
.admin_home .verify_email button {
    background: #f8f8f8;
    color: #000;
    border: 1px solid gray;
    border-radius: 6px;
    height: 45px;
    font-size: 17px;
}
.admin_home .verify_email2 .text, .admin_home .verify_email2 ul{
    padding: 0 60px;
}
.admin_home .verify_email2 ul li {
    position: relative;
    padding: 20px 65px;
    border-bottom: 1px solid #e4dddd;
}
.admin_home .verify_email2 ul li:first-child{
    border-top: 1px solid #e4dddd;
}
.admin_home .verify_email2 ul li img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 42px;
}
.admin_home .verify_email2 ul li span{
    font-weight: 600;
}
.admin_home .verify_email2 .buttons {
    padding: 0 60px;
    margin-top: 30px;
}
.admin_home .verify_email2 .buttons button {
    background: #f8f8f8;
    color: #000;
    border: 1px solid gray;
    border-radius: 6px;
    height: 45px;
    font-size: 17px;
    margin-right: 15px;
}
.admin_home .verify_email2 .buttons a {
    color: #007bff;
    text-decoration: underline;
}

/* end admin home */




/* admin messenger */

.admin-messenger {
    box-shadow: 0px 0px 15px #cecaca;
}
.admin-messenger .bar {
    width: 100%;
    height: 6rem;
    background: #ebebeb;
    padding: 15px 25px;
}
.admin-messenger .bar .content {
    width: 100%;
    height: 4rem;
    background: #fff;
    border-radius: 10px;
    padding: 6px 10px;
}
.admin-messenger .bar .content .box {
    width: 35px;
    height: 35px;
    background: #d8d8d8;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}
.admin-messenger .bar .content h4 {
    padding-left: 43px;
    font-size: 19px;
    line-height: 52px;
}
.admin-messenger .owl-prev {
    position: absolute;
    top: 0;
    left: -35px;
    font-size: 30px !important;
    color: gray !important;
}
.admin-messenger .owl-next {
    position: absolute;
    top: 0;
    right: -35px;
    font-size: 30px !important;
    color: gray !important;
}
.chat {
    padding: 25px 30px;
}
.chat .c-content {
    height: 30rem;
}
.chat .recive {
    text-align: right;
    overflow: hidden;
}
.chat .recive p {
    margin: 10px 0;
    background: #000;
    display: inline-block;
    max-width: 20rem;
    color: #fff;
    padding: 10px 30px;
    font-size: 14px;
    border-radius: 10px;
    line-height: 20px;
}
.chat .send {
    position: relative;
}
.chat .send p {
    margin: 10px 0;
    background: #cbcbcb;
    display: inline-block;
    max-width: 20rem;
    color: #000;
    padding: 10px 30px;
    font-size: 14px;
    border-radius: 10px;
    line-height: 20px;
}
.chat .typing{
    margin: 20px 0;
}
.chat .typing span {
    background: #e3e3e3;
    width: 45px;
    display: block;
    font-size: 20px;
    color: #908b8b;
    text-align: center;
    border-radius: 12px;
}
.chat .send{
    position: relative;
}
.send-bar {
    border-top: 1px solid #d6d1d1;
    padding-top: 10px;
}
.send-bar input {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    padding: 10px;
    background: #e6e2e2;
    max-width: 30rem;
    margin-right: 10px;
}
.send-bar button {
    background: #000;
    color: #fff;
    border: none;
    height: 45px;
    width: 100px;
    text-transform: capitalize;
    border-radius: 12px;
}
.send-bar .icon {
    text-align: left;
    padding: 6px 0;
}
.send-bar ul {
    display: inline-block;
    overflow: hidden;
}
.send-bar ul li {
    float: left;
    width: 35px;
    margin-left: 20px;
    cursor: pointer;
    color: gray;
    font-size: 20px;
}
.send-bar ul li span{
    color: ##cbcb30;
}

/* end admin messenger */



/* admin orders */

.search_bar {
    position: relative;
    height: 50px;
}
.search_bar input {
    width: 100%;
    height: 50px;
    padding: 15px;
    border: 1px solid #c4bfbf;
}
.search_bar button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border: none;
    width: 7rem;
    background: #c4bfbf;
    color: gray;
}
.admin-orders .orders{
    padding: 30px 0;
}
.admin-orders .content {
    width: 100%;
    height: auto;
    margin: 15px 0;
    position: relative;
}
.admin-orders .content .box {
    background: #fff;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.admin-orders .content .cont {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
}
.del10{
    background: #c4bfbf;
    width: 100%;
    height: 12rem;
    margin: 12px 0;
    position: relative;
    display: none;
}
.del10 .box{
    background: #fff;
    position: absolute;
    top: 15px;
    left: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.del10 .box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    border-radius: 50%;
    color: #fff;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
}
.admin-orders .content .box.active{
    background: #09d409;
}
.admin-orders .content .box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    border-radius: 50%;
    color: #fff;
    line-height: 34px;
    display: none;
}

.admin-orders .content .cont .carousel101 {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    z-index: -99;
    background: #fff;
    padding: 22px;
    box-shadow: 0px 0px 10px grey;
    transition: ease-in-out .4s;
    opacity: 0;
}
.admin-orders .content .cont:hover .carousel101 {
    top: -77px;
    z-index: 9;
    opacity: 1;
}
.delete .carousel101{
    display: none !important;
}
.carousel101 ul li {
    text-transform: capitalize;
    font-weight: 500;
    margin: 15px 0;
    cursor: pointer;
}
.carousel101 ul li:last-child{
    margin-bottom: 0;
}
.carousel101 .owl-prev {
    position: absolute;
    top: 48%;
    left: -30px;
    color: #000 !important;
    font-size: 26px !important;
    transform: translateY(-50%);
}
.carousel101 .owl-next {
    position: absolute;
    top: 48%;
    right: -30px;
    color: #000 !important;
    font-size: 26px !important;
    transform: translateY(-50%);
}

.search {
    position: relative;
}
.search_content {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
    max-width: 40rem;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 0px 20px #8d8a8a;
    display: none;
}
.search_content .cont {
    margin: 15px 0;
}
.search_content .input-field{
    margin: 30px 0;
}
.search_content .button{
    text-align: right;
}
.search_content .button button {
    position: relative;
    background: #000;
    color: #fff;
    text-transform: capitalize;
    width: 9rem;
    height: 45px;
}
.search_content .button button a{
    text-decoration: none;
    color: #fff;
}
.sellerpr {
    color: #000 !important;
}
.soverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
   display: none;
}
.search_bar .buttons button {
    position: relative;
    height: 50px;
    text-transform: capitalize;
    width: auto;
    width: 125px;
}
.search_bar .buttons button a{
    color: gray;
    text-decoration: none;
}

/* end admin orders */




/* admin settings */

.settings {
    background: #fff;
    padding: 80px;
}
.settings h3 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 60px;
}
.settings .content {
    position: relative;
    height: 80px;
    overflow: hidden;
    margin: 50px 0;
}
.settings .content span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: #c9c2c2;
    color: gray;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 34px;
    border-radius: 12px;
    line-height: 60px;
}
.settings .content .text {
    margin-left: 70px;
    padding: 20px 5px;
}
.settings .content h5 {
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 0;
}
.settings .content p {
    font-size: 13px;
    color: #968f8f;
    margin: 0;
}

/* end admin settings */




/* affaliate analytics */

.highcharts-title {
    display: none;
}
.highcharts-button-symbol {
    display: none;
}
.highcharts-credits {
    display: none;
}
.highcharts-axis.highcharts-yaxis {
    display: none;
}
.affaliate_analytics h3 {
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 20px;
}
.affaliate_analytics .content {
    margin: 15px 0;
    background: #fff;
    padding: 20px;
}
.affaliate_analytics h5 {
    text-transform: capitalize;
}
.affaliate_analytics h4 {
    position: relative;
}
.affaliate_analytics h4 .up {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 35px;
    font-size: 15px;
    color: #00ff19;
}
.affaliate_analytics h4 .down{
    color: #ff0000 !important; 
}

.affaliate_analytics h4 .value {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 15px;
    color: #00ff19;
}
.affaliate_analytics table {
    width: 100%;
    margin-top: 15px;
}
.affaliate_analytics table td {
    padding: 8px 0;
}
.affaliate_analytics table .brnad {
    width: 8rem;
    font-size: 14px;
}
.affaliate_analytics table h6 {
    margin: 0;
    font-size: 15px;
}
.affaliate_analytics table p {
    margin: 0;
    font-size: 13px;
}
.affaliate_analytics table p span {
    
}
.affaliate_analytics table p span.up{
    color: green;
}
.affaliate_analytics table p span.down{
    color: darkred;
}





.dashbord_overview table {
    width: 100%;
    margin-top: 15px;
}
.dashbord_overview table td {
    padding: 8px 0;
}
.dashbord_overview table .brnad {
    width: 8rem;
    font-size: 14px;
}
.dashbord_overview table h6 {
    margin: 0;
    font-size: 15px;
}
.dashbord_overview table p {
    margin: 0;
    font-size: 13px;
    text-align: right;
}
.affaliate_analytics table p span {
    
}
.dashbord_overview table p span.up{
    color: green;
}
.dashbord_overview table p span.down{
    color: darkred;
}







.footer{
    padding: 30px 0;
    text-align: center;
}
.footer h6 {
    margin: 0;
    font-size: 14px;
    color: #bcb7b7;
}
.footer h6 a {
    text-decoration: none;
}

/* end affaliate analytics */




/* affaliate code */

.affaliate_code {
    background: #fff;
    padding: 120px;
}
.affaliate_code h3 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 35px;
}
.affaliate_code form {
    max-width: 32rem;
    margin: 0 auto;
    position: relative;
    margin-bottom: 40px;
}
.affaliate_code input {
    width: 100%;
    background: #f8f8f8;
    height: 60px;
    padding: 10px;
}
.affaliate_code button {
    position: absolute;
    top: 0;
    right: 0;
    background: #f8f8f8;
    border: none;
    color: gray;
    width: 60px;
    height: 100%;
}
.affaliate_code button img {
    width: 30px;
}
.affaliate_code h5 {
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 32px;
    margin-bottom: 65px;
}
.affaliate_code ul li {
    margin: 50px 0;
    padding-left: 60px;
    font-weight: 600;
    position: relative;
    font-size: 20px;
}
.affaliate_code ul li:last-child{
    margin-bottom: 0;
}
.affaliate_code ul li span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: #ff6b00;
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    line-height: 48px;
}

/* end affaliate code */




/* affaliate settings */

.affaliate_settings a {
    text-transform: capitalize;
    color: #000;
    font-weight: 500;
    text-decoration: none;
}
.affaliate_settings .text {
    margin-top: 30px;
}
.affaliate_settings .text p {
    margin: 0;
    line-height: normal;
    font-weight: normal;
    font-size: 16px;
    max-width: 17rem;
}
.affaliate_settings form {
    margin-top: 30px;
}
.affaliate_settings form .content {
    background: #fff;
    padding: 20px;
    box-shadow: 0px 0px 12px #bcb9b9;
}
.affaliate_settings form .input-field{
    margin-bottom: 10px;
}
.affaliate_settings form input {
    width: 100%;
    border: 1px solid #dfdfdf;
    height: 33px;
    background: transparent;
    padding: 10px;
}
.affaliate_settings form p {
    margin: 0;
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
}
.affaliate_settings form .button {
    text-align: right;
    margin-top: 15px;
}
.affaliate_settings form button {
    background: #000;
    border: none;
    color: #fff;
    padding: 10px 30px;
}

/* end affaliate settings */




/* affaliate messages */

.affaliate-messenger .new_message {
    text-align: center;
    display: block;
    width: 8rem;
    height: 25px;
    margin: 35px auto;
    margin-top: 0;
    font-size: 12px;
    text-transform: capitalize;
    box-shadow: 0px 0px 8px grey;
    border-radius: 20px;
    line-height: 25px;
    color: grey;
    cursor: pointer;
}
.affaliate-messenger .recive p {
    background-image: linear-gradient(to right, #c90b0b , #e5e501);
}

/* end affaliate messages */



.change_account {
    text-align: right;
    display: block;
    color: blue !important;
    font-size: 14px;
    text-decoration: underline !important;
    margin-bottom: 20px;
}




/* my account */

.verify {
    background: #9dabf4;
    padding: 40px 60px;
    position: relative;
}
.verify span {
    position: absolute;
    top: 40px;
    left: 30px;
    font-size: 20px;
}
.verify h5 {
    font-size: 24px;
    font-weight: 500;
}
.verify button {
    background: transparent;
    text-transform: capitalize;
    border: 1px solid #000;
    padding: 8px 20px;
    border-radius: 5px;
}

.profile_pic ul {
    overflow: hidden;
    margin-bottom: 40px;
}
.profile_pic ul li {
    float: left;
    margin-right: 30px;
}
.profile_pic ul li:last-child{
    margin-right: 0;
}
.profile_pic ul li img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.profile_pic ul li button {
    border: 1px solid #000;
    text-transform: capitalize;
    padding: 5px 20px;
    font-size: 14px;
    border-radius: 5px;
    margin: 19px 0;
    background: #edebeb;
}
.account_info {
    padding: 60px 0;
}
.account_info .input-field{
    margin: 20px 0;
}
.account_info input {
    display: block;
    width: 100%;
    border: 1px solid grey;
    height: 40px;
    border-radius: 5px;
    padding: 8px;
}
.account_info .button{
    text-align: right;
}
.account_info .button button {
    background: #000;
    color: #fff;
    border: none;
    padding: 12px 35px;
    margin-top: 20px;
}

/* end my account */



/* rest general settings */

.cont7 {
    position: relative;
    background: #fff;
    padding: 25px;
    box-shadow: 0px 0px 12px #cdc7c7;
    margin-bottom: 70px;
}
.general_settings .content h6 {
    margin: 0;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.cont7 span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    background: #dedcdc;
    width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    color: gray;
    line-height: 60px;
}
.cont7 .text{
    padding-left: 5rem;
}
.cont7 .text h6 {
    margin-top: 0;
    text-align: left;
    overflow: hidden;
    margin-bottom: 4px;
}
.cont7 .text h6 a {
    float: right;
    text-decoration: underline;
}
.cont7 .text p {
    margin: 0;
    font-size: 15px;
}

/* end rest general settings */



/* seller add product */

.seller_add_product h4 {
    text-transform: capitalize;
    margin-bottom: 30px;
}
.seller_add_product .content {
    margin: 30px 0;
    background: #fff;
    padding: 40px;
    box-shadow: 0px 5px 6px #dedede;
}
.seller_add_product .input-field{
    margin: 12px 0;
}
.seller_add_product input {
    display: block;
    width: 100%;
    background: transparent;
    border: 1px solid #bcbbbb;
    height: 40px;
    padding: 12px;
}
.seller_add_product h6 {
    text-transform: capitalize;
    overflow: hidden;
}
.seller_add_product h6 a {
    float: right;
    text-decoration: none;
}
.upload{
    text-align: center;
}
.upload img {
    display: block;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 12px;
}
.upload span{
    font-weight: 600;
}
.seller_add_product select {
    display: block;
    width: 100%;
    background: transparent;
    border: 1px solid #bcbbbb;
    height: 40px;
    padding: 0 12px;
}
.seller_add_product .buttons{
    text-align: right;
}
.seller_add_product .buttons button {
    background: #fff;
    border: 1px solid #a5a3a3;
    text-transform: capitalize;
    padding: 9px 25px;
    border-radius: 5px;
    margin-left: 10px;
}



.product_list .box {
    margin: 15px 0;
}


.seller-messenger .recive p{
    background-image: linear-gradient(to right, #ff00b8 , #ff0011);
}
.seller-messenger .new_message {
    text-align: center;
    display: block;
    width: 8rem;
    height: 25px;
    margin: 35px auto;
    margin-top: 0;
    font-size: 12px;
    text-transform: capitalize;
    box-shadow: 0px 0px 8px grey;
    border-radius: 20px;
    line-height: 25px;
    color: grey;
    cursor: pointer;
}
.admin-orders .content .box .cross {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 32px;
    background: red;
    border-radius: 50%;
}
.admin-orders .content .box .cross img {
    width: 20px;
}



/* end seller add product */




/* all popup */

.first-sale {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 99;
    display: none;
}
.first-sale.dat12{
    display: none !important;
}
.asd{
    display: none !important;
}
.first-sale .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    box-shadow: 0px 0px 12px #dcd7d7;
    padding: 50px;
    z-index: 9;
}
.first-sale h5 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 50px;
}
.first-sale button {
    background: #000;
    color: #fff;
    border: none;
    width: 15rem;
    height: 60px;
    font-weight: 600;
    margin: 0 10px;
}
.first-sale button a {
    color: #fff;
    text-decoration: none;
    display: block;
    text-transform: capitalize;
    width: 100%;
    height: 100%;
    line-height: 60px;
}
.first-sale .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 2;
    display: none;
}


.confirm_delet {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 99;
    display: none;
}
.confirm_delet .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 2;
}
.confirm_delet .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    box-shadow: 0px 0px 12px #dcd7d7;
    padding: 50px;
    z-index: 9;
}
.confirm_delet h6 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}
.confirm_delet button {
    background: #000;
    color: #fff;
    border: none;
    width: 15rem;
    height: 60px;
    font-weight: 600;
    margin: 0 10px;
}





/* admin code */

.admin_code h6 {
    font-size: 25px;
    line-height: 30px;
}
.admin_code .input {
    position: relative;
    margin: 30px 0;
}
.admin_code input {
    width: 100%;
    background: #fcf7f7;
    height: 60px;
    padding: 10px;
}
.admin_code a {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 100%;
    line-height: 60px;
    color: gray;
    cursor: pointer;
}
.admin_code a img{
    width: 42px;
}
.admin_code button {
    width: 10rem;
    height: 50px;
}

/* end admin code */



.content.live .box {
    background: #1ccc1c;
}



/* live popup */

.live_popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 99;
    display: none;
}
.live_popup .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 2;
}
.live_popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    box-shadow: 0px 0px 12px #dcd7d7;
    padding: 50px;
    z-index: 9;
}
.live_popup h6 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}
.live_popup button {
    background: #000;
    color: #fff;
    border: none;
    width: 15rem;
    height: 60px;
    font-weight: 600;
    margin: 0 10px;
    font-size: 20px;
}

/* end live popup */



.seller-products .content {
    cursor: pointer;
    margin: 20px 0;
    background: transparent;
    width: auto;
    height: auto;
}
.seller-products .content h3 {
    font-size: 20px;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 0;
}
.seller-products a{
    text-decoration: none !important;
}




/* mobile bar */

.mobile-bar {
    padding: 30px 0;
}
.mobile-bar .menu_icon img{
    max-width: 35px;
    cursor: pointer;
}
.mobile-bar .search input {
    width: 100%;
    background: transparent;
    height: 34px;
    border: 1px solid #b6b1b1;
    padding: 10px;
}
.mobile-bar .search button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: #b6b1b1;
    height: 100%;
    color: gray;
    padding: 0 10px;
}
.mobile-bar .profile .image {
    text-align: right;
    position: relative;
}
.mobile-bar .profile img{
    max-width: 40px;
    cursor: pointer;
}
.mobile-bar .profile ul {
    position: absolute;
    top: 45px;
    right: 5px;
    z-index: 9;
    width: 7rem;
    background: #fff;
    box-shadow: 0px 0px 10px gray;
    text-align: center;
    display: none;
}
.mobile-bar .profile ul li {
    border-bottom: 1px dashed #918787;
    padding: 5px 10px;
}
.mobile-bar .profile ul li:last-child{
    border-bottom: 0;
}
.mobile-bar .profile ul li a {
    font-size: 12px;
    text-decoration: none;
    display: block;
    text-transform: capitalize;
    color: #000;
}

/* end mobile bar */





.seller_order .box {
    right: 10px !important;
    left: inherit !important;
    background: transparent !important;
    font-weight: 600;
}
.chart_line li {
    font-size: 10px;
    margin: 6px 0;
    color: #b6b6b6;
}
.date_bar {

    width: 100%;
    overflow: hidden;
    margin-top: -15px;
    margin-left: 10px;

}
.date_bar li {

    float: left;
    font-size: 10px;
    margin: 0 10px;
    color: #b6b6b6;

}



.affaliate_analytics .content p {
    font-size: 14px;
    text-transform: capitalize;
}
.name_bar {
    margin-top: 15px;
    display: inline-block;
}
.name_bar li {
    float: left;
    margin-left: 34px;
    font-size: 13px;
    position: relative;
}
.name_bar li:first-child{
    margin-left: 0;
}
.name_bar li span {
    position: absolute;
    top: 1px;
    left: -18px;
    width: 15px;
    height: 15px;
    border-radius: 3px;
}
.admin_content a img {
    width: 55px;
}