@media (max-width: 1199.98px) {}


@media (max-width: 1070px) {
    .box.b11{
        width: 100%;
    }
    .drag .par,.drag .tips{
        right: -25%;
        width: 55%;
        padding: 30px;
    }
}



@media (max-width: 991.98px) {

    .navbar-toggler img {
        width: 35px;
        height: 35px;
    }

    .navbar-nav {
        position: relative;
        top: 0;
        transform: inherit;
        right: 0;
        text-align: center;
    }
    .stall .content{
        width: 90%;
        max-width: inherit;
    }
    .vent button{
        position: relative;
        top: 0;
        transform: inherit;
        right: 0;
        margin-top: 10px;
    }
    .footer .nav ul a{
        font-size: 12px;
    }
    .social_icon ul li{
        margin-left: 22px;
    }
    .social_icon ul li a{
        font-size: 16px;
    }

}



@media (max-width: 767.98px) {
    .login .content {
        max-width: 20rem;
        padding: 25px;
    }

    .google-btn img {
        width: 21px;
    }

    .login h5 {
        margin: 25px 0;
        font-size: 17px;
    }

    .login .input_area input {
        height: 40px;
    }

    .login .forget_pass {
        font-size: 14px;
    }

    .login button {
        height: 55px;
        font-size: 18px;
    }

    .login .check span {
        font-size: 13px;
    }
    .stall h3{
        font-size: 25px;
    }
    .stall h5 {
        font-size: 18px;
        margin: 20px 0;
    }
    .stall h4 {
        margin-bottom: 10px;
        font-size: 22px;
    }
    .stall .buttons a {
        width: 124px;
        height: 40px;
        padding: 9px;
        font-size: 15px;
        margin: 10px 10px;
    }
    .affiliate h2 {
        margin-bottom: 45px;
        font-size: 29px;
    }
    .affiliate button{
        width: 10rem;
        height: 55px;
        font-size: 15px;
    }
    .affiliate a{
        font-weight: 500;
    }
    .cart_area .content{
        padding: 0;
    }
    
    
    .loading_bar .bar{
        width: 65%;
        height: 30px;
    }
    .loading_bar .img1{
        max-width: 35px;
    }
    .loading_bar .img2{
        max-width: 45px;
    }
    .loading_bar h5 {
        font-size: 13px;
    }
    .f-right {
        margin-left: 0;
    }
    .password input, .address textarea{
        width: 100%;
    }
    .i303{
        display: none;
    }
    .address a{
        display: block;
        margin: 10px 0;
    }
    .drag .par, .drag .tips{
        display: none;
    }
    .app_icon, .social_icon{
        margin-top: 20px;
    }
    .vent h6{
        font-size: 19px;
        max-width: 100%;
        line-height: normal;
    }
 }

@media (max-width: 575.98px) {
    .expend ul li {
        width: 21%;
        margin: 10px 2%;
    }
    .search span{
        display: none;
    }
    .search .box{
        height: 80px;
    }
    .search input {
        position: relative;
        top: 0;
        left: 0;
        transform: inherit;
        width: 100%;
        height: 75px;
        margin: 0px;
        padding: 15px;
    }
    .search .button {
        text-align: right;
        padding: 23px 15px;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
    }
}

@media (max-width: 430px) {
    .expend ul li {
        height: 80px;
    }

    .cross {
        top: -18px;
        right: 0px;
    }
    .seller_apply .content{
        padding: 17px;
    }
}

@media (max-width: 430px) {
    .stall {
        display: none;
    }

    .expend ul li {
        height: 80px;
    }

    .expend .container-fluid {
        padding-left: 5px;
        padding-right: 5px;
    }

    .product-area .content .product-image {
        height: 160px;
    }
    .verification p{
        font-size: 12px;
    }
    .primary h5{
        font-size: 10px;
        margin-top: 4px;
    }
    .primary h5 span{
        font-size: 7px;
    }
    .primary img{
        font-size: 12px;
    }
    .primary ul li{
        font-size: 12px;
    }
    .primary h6{
        font-size: 12px;
    }
}



@media (max-width: 350px) {
    .header .top-bar h6 {
        font-size: 12px;
        margin: 0;
    }

    .product-area h2 {
        font-size: 19px;
    }

    .product-area h2 span {
        width: 28px;
        height: 28px;
        line-height: 25px;
    }

    .product-area .content h5 {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .product-area .content .product-image {
        padding: 5px 10px;
    }

    .product-area .content span {
        font-size: 12px;
    }

    .product-area .content .product-image {
        height: 125px;
    }

    .expend ul li {
        height: 60px;
    }
    .register .bar{
        width: 60%;
        height: 25px;
    }
    .register .img1{
        width: 30px;
    }
    .register .img2{
        width: 20px;
    }
    
    .registration_area h5{
        font-size: 17px;
        line-height: normal;
    }
    .verification button{
        font-size: 11px;
    }
    
    .drag{
        padding: 50px;
    }
    .footer ul{
        width: 100%;
        text-align: center;
    }
    .footer .nav ul li{
        float: inherit;
        margin: 20px 0;
    }
    .footer .nav ul li::before{
        display: none;
    }
    .footer .nav ul li a{
        font-size: 17px;
    }
}


@media (max-width: 318.98px) {
    .more-item ul li {
        width: 44%;
        height: 120px;
        margin: 8px 3%;
    }
    .product-name button{
        margin: 5px;
    }
}
