/*global section*/



body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.container-fluid{
    max-width: 1480px;
    padding-left: 40px;
    padding-right: 40px;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    cursor: pointer;
}

button:focus {
    border: none;
    outline: none;
    box-shadow: 0 0 0;
}

section {
    position: relative;
    overflow: visible;
}

.fixed-top {
    position: fixed !important;
    background: #fff;
    padding: 0 8%;
    box-shadow: 0px 0px 10px #0096FF;
}

/*end global section*/




/* header area */

.header {
    border-bottom: 1px solid #ebe7e7;
}
.header .top-bar {
    position: relative;
    background-image: linear-gradient(to right, #fa01f4, #fa1112, #fae802);
    padding: 10px 0;
}
.header .owl-carousel {
    max-width: 24rem;
    margin: 0 auto;
}
.header .top-bar h6 {
    color: #fff;
}
.delete-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    color: #fff;
    cursor: pointer;
}
.main-nav{
    position: relative;
}
.navbar {
    padding: 10px 0;
}
.navbar-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.main-nav .nav-link {
    color: #000;
    font-weight: 600;
    margin-left: 20px;
    text-transform: capitalize;
}
.search_icon img {
    max-width: 25px;
    margin-left: 20px;
    margin-top: 8px;
    cursor: pointer;
}


.search {
    padding: 40px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.search:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .6;
}
.search .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}
.search .box {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #000;
    height: 95px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 45rem;
    z-index: 99;
}
.search ul {
    overflow: hidden;
    display: inline-block;
    width: 100%;
    padding: 11px 20px;
}
.search span {
    text-align: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    font-size: 35px;
    font-weight: 600;
}
.search input {
    position: absolute;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 57%;
    background: transparent;
    font-size: 20px;
    font-weight: 600;
}
.search .button {
    text-align: right;
    padding: 23px 15px;
    cursor: pointer;
}
.search .button button {
    background: transparent;
    border: none;
}
.search .button button img {
    max-width: 37px;
}

/* end header area */



/* banner */
.banner {
    background: url('../images/1.jpg');
    background-size: cover;
    padding: 100px 0;
    text-align: center;
}
.banner h5 {
    color: #fff;
    letter-spacing: 3px;
}
.banner h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 46px;
    margin: 0;
}
/* end banner */




/* product area */

.product-area {
    padding: 40px 0;
}
.product-area .top-bar {
    position: relative;
}
.product-area h2 {
    text-transform: capitalize;
    font-size: 27px;
    overflow: hidden;
    margin-bottom: 20px;
}
.product-area .top-bar img {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    cursor: pointer;
}
.product-area h2 span {
    float: right;
    display: block;
    width: 35px;
    height: 35px;
    border: 2px solid #000;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.product-area .content {
    margin: 12px 0;
    box-shadow: 0px 0px 5px #c9c3c3;
    padding: 0;
    position: relative;
}
.product-area .content .product-image {
    width: 100%;
    height: auto;
    background: transparent;
    text-align: right;
    text-transform: capitalize;
    font-weight: 500;
    padding: 10px;
}
.product-area .content span {
    position: absolute;
    top: 20px;
    right: 20px;
}
.product-area .content h5 {
    text-align: center;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 0;
    background: #000;
    display: block;
    color: #fff;
    padding: 10px 0;
}
.product-area .content h5 a {
    text-decoration: none;
    color: #fff;
}

/* end product area */





/* registration area */

.registration_area {
    padding: 80px 0;
}
.registration_area form {
    max-width: 20rem;
    margin: 0 auto;
    overflow: hidden;
}
.registration_area h5 {
    text-align: center;
    margin-bottom: 28px;
    line-height: 25px;
    font-size: 22px;
}
.registration_area .input_area {
    margin: 30px 0;
}
.registration_area .input_area label {
    font-weight: 500;
}
.registration_area .input_area input {
    width: 100%;
    border: 1px solid #959595;
    height: 36px;
    border-radius: 10px;
}
.registration_area button {
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    float: right;
}

/* end registration area */




/* loader area */

.loader {
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    box-shadow: 0px 0px 10px #d8d1d1;
    padding: 30px;
    display: none;
}
.loader img {
    margin-bottom: 40px;
    animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
	0% { 
		transform: rotate(0deg); 
	}
	100% { 
		transform: rotate(359deg); 
	}
}
.is-hide{
	display:none;
}
.loader h5 {
    font-weight: 600;
    font-size: 27px;
}
.loader p {
    font-size: 13px;
    font-weight: 500;
    margin: 0;
}

/* end loader area */



/* cart area */

.cart_area {
    padding: 50px 0;
}
.cart_area .content {
    padding: 27px 20px;
}
.cart_area .box {
    border: 2px solid #bad0d5;
    margin-bottom: 50px;
}
.cart_area h5 {
    background: #f8f8f8;
    padding: 15px 20px;
    border-bottom: 1px solid #807e7e;
}
.cart_area .cont {
    padding: 20px 20px;
}
.cart_area .input_area {
    margin: 20px 0;
}
.cart_area input {
    width: 100%;
    border: 1px solid #959595;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
}
.cart_area .select {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.cart_area .select span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2px;
    width: 46px;
    height: 96%;
    padding: 6px 0;
    font-size: 17px;
    background: #fbfbfb;
    text-align: center;
    border-left: 1px solid gray;
    border-radius: 0px 8px 8px 0px;
    color: gray;
    cursor: pointer;
}
.cart_area .select select {
    width: 100%;
    border: 1px solid #959595;
    height: 40px;
    border-radius: 10px;
    padding: 8px 10px;
    appearance: none;
    -moz-appearance: none;
    font-size: 14px;
}
.cart_area .cont p {
    margin: 10px 0;
    font-size: 14px;
}
.cart_area .cont p span {
    float: right;
    margin-top: 15px;
}
.cart_area .cont button {
    border: none;
    background: transparent;
    color: blue;
    margin-top: 12px;
    font-size: 14px;
    padding: 0;
    cursor: pointer;
}
.cart_area .cont button a{
    text-decoration: none;
    color: #fff;
}
.cart_area .image {
    width: 100%;
    height: 100px;
    background: #bdbcbc;
}
.cart_area .content h6 {
    text-align: center;
    font-size: 16px;
    margin: 0;
}
.cart_area .content h6 a {
    text-decoration: none;
    color: #f00;
}


.box.b11 {
    width: 78%;
    float: right;
    margin-top: 36px;
}
.b11 .cont {
    padding-left: 35px;
}
.b11 ul li {
    margin: 15px 0;
    font-weight: 500;
}
.b11 h6 {
    text-align: left !important;
}
.cart_area .cont p {
    margin: 10px 0;
    font-size: 14px;
}
.b11 button {
    background: #f00 !important;
    color: #fff !important;
    text-transform: capitalize;
    font-size: 25px !important;
    font-weight: 500;
    padding: 15px 25px !important;
    width: 100%;
}

/* end cart area */




/* login area */

.login {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: none;
    z-index: 9;
}
.login .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: white;
}
.login .content {
    position: absolute;
    max-width: 30rem;
    margin: 25px auto;
    padding: 60px;
    box-shadow: 0px 0px 10px #a09f9f;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 99;
}
.cross {
    width: 26px;
    position: absolute;
    top: -20px;
    right: -45px;
    cursor: pointer;
}
.google-btn {
    text-align: center;
    position: relative;
}
.google-btn a {
    overflow: hidden;
    display: block;
    position: relative;
    height: 50px;
    max-width: 20rem;
    margin: 0 auto;
    padding: 12px;
    box-shadow: 0px 2px 10px #b3b0b0;
    text-decoration: none;
}
.google-btn img {
    width: 28px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}
.google-btn span {
    color: #a7a7a7;
    font-weight: 500;
}
.login h5 {
    text-align: center;
    margin: 40px 0;
    font-size: 22px;
}
.login .input_area {
    margin: 28px 0;
}
.login .input_area input {
    width: 100%;
    border: 1px solid #959595;
    height: 52px;
    border-radius: 10px;
    padding: 10px;
}
.login .forget_pass {
    color: #9f9e9e;
    text-decoration: underline;
    font-weight: 500;
}
.login button {
    display: block;
    width: 100%;
    height: 60px;
    border: none;
    background: #000;
    color: #fff;
    font-size: 22px;
    margin: 20px 0;
    cursor: pointer;
}
.login .check span {
    color: gray;
    margin-left: 12px;
}
.new_sign_up {
    text-align: center;
    display: inherit;
    margin-top: 15px;
    text-decoration: underline;
    color: gray !important;
    font-weight: 500;
}

/* end login area */




/* product area */

.product-name {
    padding: 60px 0;
}
.product-name .content {
    max-width: 25rem;
    margin: 0 auto;
    text-align: center;
}
.product-name h5 {
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 600;
}
.product-name .product_image {
    width: 100%;
    height: 22rem;
    background: #c4c4c4;
    position: relative;
    margin: 10px 0;
}
.product_image span {
    position: absolute;
    top: 15px;
    left: 22px;
    border: 2px solid #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 27px;
    cursor: pointer;
}
.product-name button {
    background: #000;
    color: #fff;
    border: none;
    text-transform: capitalize;
    width: 194px;
    height: 65px;
    font-weight: 600;
    cursor: pointer;
    margin: 0 2px;
    font-size: 19px;
}ht
.product-name .cart_btn {
    background: #000;
}
.product-name .cart_btn a{
    text-decoration: none;
    color: #fff;
}
.product-name .buy_now {
    background-image: linear-gradient(to right, #fb01d3, #fe001e);
}



.more-item {
    text-align: center;
    padding-bottom: 60px;
}
.more-item h4 {
    font-size: 25px;
    font-weight: 500;
}
.more-item ul {
    overflow: hidden;
    margin-top: 20px;
}
.more-item ul li {
    background: #c4c4c4;
    width: 122px;
    height: 122px;
    margin: 8px;
    float: left;
}
.more-item ul li a {
    width: 100%;
    height: 100%;
    display: block;
}

/* end product area */



/* stall area */

.stall {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.stall .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    opacity: .7;
}

.stall .content {
    max-width: 45rem;
    margin: 0 auto;
    padding: 60px;
    box-shadow: 0px 0px 10px #d1d1d1;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
}
.stall h3 {
    font-size: 35px;
    font-weight: 600;
    text-decoration: underline;
}
.stall h5 {
    text-align: left;
    font-size: 27px;
    margin: 37px 0;
}
.stall h4 {
    margin-bottom: 20px;
    font-size: 28px;
}
.stall .buttons a {
    background: #000;
    width: 160px;
    display: inline-block;
    height: 50px;
    padding: 12px;
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 10px;
    text-decoration: none;
}
.stall form {
    margin-top: 25px;
}
.stall h6 {
    font-size: 20px;
    margin-bottom: 15px;
}
.stall input {
    border: 1px solid gray;
    padding: 7px;
    width: 15rem;
    border-radius: 12px;
    margin-right: 15px;
    height: 40px;
}
.stall button {
    background: #000;
    border: none;
    color: #fff;
    height: 40px;
    width: 80px;
    text-transform: capitalize;
    cursor: pointer;
}

/* end stall area */



/* my account */

.my-account {
    padding: 60px 0;
}
.my-account h4 {
    text-align: center;
    margin-bottom: 30px;
}
.my-account h4 a {
    float: right;
    color: #000;
    font-size: 16px;
    margin-top: 5px;
    text-decoration: underline;
    margin-right: 0%;
}
.my-account .account {
    max-width: 60rem;
    margin: 0 auto;
}
.verification {
    background: #a0f7cd;
    padding: 30px;
    position: relative;
    padding-left: 70px;
    max-width: 50rem;
    margin: 0 auto;
}
.verification img {
    position: absolute;
    top: 22px;
    left: 30px;
    width: 30px;
}
.verification h6 {
    font-weight: 600;
    overflow: hidden;
}
.verification p {
    margin: 12px 0;
    line-height: normal;
}
.verification button {
    background: transparent;
    border: 1px solid #000;
    padding: 8px 25px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 3px;
}


.tickets {
    padding: 40px 0;
}
.my-account .account h4 {
    text-align: center;
    margin-bottom: 30px;
}
.tickets h4{
    position: relative;
}
.tickets h4 span {
    font-size: 11px;
    border: 2px solid #000;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    line-height: 18px;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translateX(186%);
}
.loading_bar {
    position: relative;
}
.loading_bar .img1 {
    max-width: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-80%);
    left: 0%;
}
.loading_bar .bar {
    width: 83%;
    height: 45px;
    background: #f2f2f2;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin: 10px auto;
}
.loading_bar .color {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-image: linear-gradient(to right, #fa01f4, #fa1112);
    border-radius: 20px;
}
.loading_bar .img2 {
    max-width: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-80%);
    right: 0%;
}
.loading_bar h5 span {
    float: right;
}


.membership h4 {
    text-align: left !important;
    font-size: 25px;
    font-weight: 600;
    line-height: 22px;
}
.membership h4 span {
    font-size: 15px;
}
.membership button {
    float: right;
    margin-top: -79px;
    background-image: linear-gradient(#fff, #f3f3f3);
    border: 1px solid #d7d4d4;
    padding: 8px 13px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.membership .input_area {
    margin: 15px 0;
}
.membership input {
    display: block;
    width: 100%;
    border: 1px solid #959595;
    height: 36px;
    border-radius: 10px;
}
.primary {
    margin-top: 45px;
}
.primary .top {
    background: #f2f2f2;
    overflow: hidden;
    height: 40px;
    padding: 10px 15px;
    position: relative;
}
.primary h5 {
    font-size: 16px;
}
.primary h5 span {
    background: #1ed700;
    color: #fff;
    text-transform: uppercase;
    padding: 6px 18px;
    font-size: 13px;
    float: right;
    border-radius: 8px;
    margin-right: 40px;
    margin-top: -4px;
}
.primary img {
    position: absolute;
    width: 18px;
    right: 15px;
    top: 11px;
    cursor: pointer;
}
.primary ul {
    margin: 15px 0;
}
.primary ul li {
    font-weight: 500;
}
.primary ul a {
    color: #000;
    float: right;
    text-decoration: underline;
}
.primary h6 {
    text-align: right;
    margin-top: 30px;
}
.primary h6 a {
    text-decoration: none;
    margin-left: 15px;
}
.password input {
    width: 85%;
}
.f-right {
    margin-left: 20%;
}
.f-right input {
    width: 100%;
}

.address .text {
    text-align: right;
}
.address textarea {
    background: #f2f2f2;
    border: none;
    width: 85%;
    height: 160px;
    padding: 10px;
    resize: none;
}
.address a {
    color: #000;
    font-weight: 500;
    text-decoration: underline;
}
.save{
    text-align: right;
}
.save button {
    margin: 0;
    float: inherit;
    background: #ff0000;
    color: #fff;
    text-transform: capitalize;
    border-radius: 3px;
    padding: 8px 40px;
    cursor: pointer;
}


/* end my account */






/* home page popup */

.affiliate {
    padding: 60px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.affiliate .content {
    width: 35rem;
    text-align: center;
    padding: 50px 0;
    background: #fff;
    box-shadow: 0px 0px 10px gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
}
.affiliate h2 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 40px;
}
.affiliate .content input {
    width: 70%;
    background: #faf9f9;
    border: none;
    height: 60px;
    margin: 19px 0;
    padding: 10px;
}
.affiliate button {
    background: #000;
    color: #fff;
    text-transform: capitalize;
    border: none;
    display: block;
    margin: 0 auto;
    width: 16rem;
    height: 4rem;
    margin-bottom: 20px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
}
.affiliate a {
    font-weight: 600;
    text-decoration: underline;
    text-transform: capitalize;
    margin-top: 10px;
}
.affiliate .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    opacity: .7;
}






.seller {
    padding: 60px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.seller .content {
    width: 35rem;
    text-align: center;
    padding: 50px 0;
    background: #fff;
    box-shadow: 0px 0px 10px gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
}
.seller h2 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 40px;
}
.seller .content input {
    width: 70%;
    background: #faf9f9;
    border: none;
    height: 60px;
    margin: 19px 0;
    padding: 10px;
}
.seller button {
    background: #000;
    color: #fff;
    text-transform: capitalize;
    border: none;
    display: block;
    margin: 0 auto;
    width: 16rem;
    height: 4rem;
    margin-bottom: 20px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
}
.seller a {
    font-weight: 600;
    text-decoration: underline;
    text-transform: capitalize;
    margin-top: 10px;
}
.seller .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    opacity: .7;
}

/* end home page popup */



/* plazma area */

.plazma_bar{
    background-image: linear-gradient(to right, #8d03ff, #576ff1, #3DC5FF ) !important;
}
.plazma_area {
    padding: 60px 0;
    text-align: center;
}
.plazma_area h3 {
    margin-bottom: 30px;
}
.plazma_area .box {
    box-shadow: 0px 0px 10px #cac7c7;
    padding: 60px;
    border-radius: 5px;
    max-width: 30rem;
    margin: 0 auto;
}
.plazma_area h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 500;
}
.plazma_area h2 .fake {
    color: #f00;
}
.plazma_area h2 .real {
    color: #05ff00;
}
.plazma_area button {
    background: #3DC5FF  ;
    color: #fff;
    border: none;
    font-weight: 500;
    padding: 13px 40px;
    margin-top: 28px;
    margin-bottom: 20px;
    cursor: pointer;
}
.plazma_area h6 {
    font-weight: 600;
    margin-bottom: 10px;
}
.plazma_area ul {
    overflow: hidden;
    display: inline-block;
}
.plazma_area ul li {
    float: left;
    margin: 0 10px;
    background: #000;
    width: 40px;
    height: 32px;
    border-radius: 7px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

/* end plazma area */



.affiliate_apply {
    width: 100%;
    height: 90rem;
    position: relative;
}
.affiliate_apply .content {
    width: 100%;
    height: 85%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 50%;
}


.seller_apply {
    width: 100%;
    position: relative;
    background-image: linear-gradient(to right, #ff0785, #ff0134);
    padding: 70px 0;
}
.seller_apply .content {
    width: 100%;
    height: auto;
    background: #fff;
    max-width: 35rem;
    margin: 0 auto;
    padding: 60px;
}
.seller_apply h2 {
    text-align: center;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 40px;
}
.seller_apply .input_area {
    margin: 35px 0;
    overflow: hidden;
}
.seller_apply label {
    display: block;
}
.seller_apply input {
    display: block;
    width: 100%;
    border: 1px solid #959595;
    height: 44px;
    border-radius: 10px;
    padding: 10px;
}
.seller_apply .radio {
    display: inline-block;
    margin-right: 10px;
}
.seller_apply .radio input {
    width: auto;
    height: auto;
}
.seller_apply .input_area textarea {
    display: block;
    width: 100%;
    border: 1px solid #959595;
    height: 130px;
    border-radius: 10px;
    padding: 10px;
    resize: none;
}
.seller_apply button {
    background: #000;
    color: #fff;
    border: none;
    text-transform: uppercase;
    width: 10rem;
    height: 55px;
    font-size: 18px;
    margin: 0 auto;
    display: block;
}



/* icon bar */

.icon_bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.icon_bar .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .7;
    z-index: 1;
}
.icon_bar .icons {
    position: absolute;
    top: 50%;
    right: 80px;
    text-align: right;
    transform: translateY(-50%);
    z-index: 9;
}
.icon_bar ul li {
    margin: 40px 0;
    font-size: 25px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    transition: ease-in all .3s;
}
.icon_bar ul li:hover{
    font-size: 40px;
}
.icon_bar ul li a {
    color: #000;
    text-decoration: none;
}
.icon_bar ul li span {
    
}

/* end icon bar */



/* expend */

.expend {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: auto;
    display: none;
}
.expend .content {
    padding: 80px 0;
}
.expend img {
    max-width: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}
.expend ul {
    overflow: hidden;
}
.expend ul li {
    float: left;
    background: #b6b6b6;
    width: 125px;
    height: 125px;
    margin: 10px;
    cursor: pointer;
}

/* end expend */



/* register */

.register {
    padding: 60px 0;
}
.register .content {
    max-width: 35rem;
    margin: 0 auto;
}
.register h6 {
    max-width: 20rem;
    margin: 0 auto;
}
.register .bar101 {
    margin: 30px auto;
    position: relative;
    max-width: 25rem;
}
.register .img1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 42px;
}
.register .bar {
    width: 72%;
    height: 40px;
    margin: 0 auto;
    background: #fff;
    border-radius: 52px;
    box-shadow: 0px 0px 10px #d1d1d1;
    position: relative;
}
.register .bar .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 49%;
    background: #f2f2f2;
    border-radius: 18px;
    overflow: hidden;
}
.register .overlay:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1%;
    height: 100%;
    background: #fa1111;
    border-radius: 12px;
}
.register .img2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 27px;
}
.register .box {
    width: 100%;
    background: transparent;
    height: auto;
    margin: 50px auto;
    max-width: 22rem;
    padding: 30px;
}
.register .box .check span {
    color: #e50914;
    font-size: 50px;
}
.register .box h6 {
    margin-top: 30px;
}
.register .box ul {
    text-align: left;
    margin: 30px 0;
    margin-bottom: 45px;
}
.register .box ul li {
    line-height: normal;
    margin: 25px 0;
    position: relative;
    padding-left: 30px;
}
.register .box ul li span {
    color: #e50914;
    position: absolute;
    top: 0;
    left: 0;
}
.register a {
    background: red;
    color: #fff;
    text-decoration: none;
    padding: 15px 40px;
    text-transform: capitalize;
    font-weight: 500;
}



.reg2 .overlay::before{
    width: 40%;
}
.register.reg2 .box{
    height: 30rem;
}


.reg3 .overlay::before{
    width: 100%;
}

.reg4 .overlay::before{
    width: 100%;
}
.register.reg4 .box{
    height: 40rem;
}

/* end register */


/* drag and drop */

.drag {
    box-shadow: 0px 0px 15px #c7c6c6;
    padding: 100px;
    max-width: 35rem;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
}
.drag img {
    max-width: 5rem;
    margin-bottom: 20px;
}
.drag h6 {
    line-height: 30px;
}
.drag button {
   margin-top: 10px;
}
.drag .par {
    position: absolute;
    text-align: left;
    right: -50%;
    width: 80%;
    top: 30px;
    padding: 35px;
    border-radius: 10px;
    z-index: 2;
}
.drag .par:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    opacity: .8;
    z-index: -2;
    border-radius: 10px;
}
.drag p {
    font-size: 12px;
    line-height: 22px;
    font-weight: 500;
}
.drag li {
    float: inherit !important;
    width: auto !important;
    background: transparent !important;
    text-align: left !important;
    color: #000 !important;
    font-size: 12px;
    margin: 8px 0 !important;
    line-height: normal !important;
    height: auto !important;
    margin-left: 20px !important;
    font-weight: 500;
}
.drag .tips {
    position: absolute;
    text-align: left;
    right: -50%;
    width: 80%;
    bottom: -156px;
    padding: 35px;
    border-radius: 10px;
    z-index: 2;
}
.drag .tips:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    opacity: .8;
    z-index: -2;
    border-radius: 10px;
}
.drag h6 {
    line-height: 30px;
    text-decoration: underline;
}
.drag .tips li {
    margin: 10px 0 !important;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px !important;
}

/* end drag and drop */


/* vend area */

.vent_area {
    padding: 60px 0;
}
.vent_area .content {
    max-width: 45rem;
    margin: 0 auto;
    text-align: center;
}
.vent_area h6 {
    margin: 0;
    font-weight: 600;
}
.vent_area form {
    overflow: hidden;
    max-width: 30rem;
    margin: 0 auto;
}
.vent_area textarea {
    width: 100%;
    max-width: 30rem;
    margin: 25px auto;
    display: block;
    padding: 10px;
    height: 15rem;
    resize: none;
}
.vent_area button {
    float: right;
    background: #FF5C00;
    color: #fff;
    border: none;
    padding: 10px 30px;
}

/* end vend area */



/* footer */

.vent {
    max-width: 55rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    padding: 20px 0;
}
.vent h6 {
    font-size: 22px;
    max-width: 42rem;
    line-height: 30px;
    margin: 0;
}
.vent button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    text-transform: uppercase;
    font-weight: 600;
    background: transparent;
    border: 2px solid #000001;
    padding: 12px 45px;
}
.vent button a{
    text-decoration: none;
    color: #000;
}
.footer .content {
    padding: 20px 0;
}
.footer ul{
    overflow: hidden;
}
.footer .nav ul li {
    position: relative;
    float: left;
    margin-right: 30px;
    text-transform: uppercase;
    font-weight: 500;
}
.footer .nav ul li:before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -15px;
    height: 40px;
    width: 1px;
    background: #ff95aa;
}
.footer .nav ul li:last-child{
    margin-right: 0;
}
.footer .nav ul a {
    display: block;
    text-decoration: none;
    background: linear-gradient(#ff0785, #ff95aa);
    background: -webkit-linear-gradient(#ff0785, #ff95aa);
        background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 17px;
}
.app_icon{
    text-align: right;
}
.app-icon ul{
    display: inline-block;
}
.app_icon ul li {
    float: left;
    margin-right: 13px;
    font-weight: 500;
    font-size: 18px;
}
.app_icon ul li:last-child{
    margin-right: 0;
}
.app_icon ul li a {
    display: block;
    color: #000;
    font-size: 23px;
    margin-top: -4px;
}
.social_icon ul{
    display: inline-block;
}
.social_icon ul li {
    float: left;
    margin-left: 32px;
}
.social_icon ul li a {
    display: block;
    color: #eb7388;
    font-size: 20px;
}
.footer hr {
    border: none;
    height: 1px;
    background: #b8b7b7;
}

/* end footer */


.copyright {
    padding: 20px 0;
}
.copyright h6 {
    font-weight: 500;
    font-size: 18px;
}




.thank_popup .content {
    text-align: center;
    background: #fff;
    padding: 80px 40px;
    z-index: 99;
}
.thank_popup h3 {
    font-size: 30px;
    font-weight: 600;
}
.thank_popup h6 {
    font-size: 21px;
    margin: 20px 0;
    line-height: normal;
}
.thank_popup a {
    text-transform: capitalize;
    text-decoration: none;
    background: #000;
    color: #fff;
    padding: 15px 35px;
    display: block;
    width: 10rem;
    margin: 0 auto;
}
.thank_popup .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .7;
    z-index: 9;
}




.varient_area{
    padding: 60px 0;
}
.varient {
    max-width: 50rem;
    margin: 0 auto;
    padding: 40px;
    background: #fff;
    box-shadow: 0px 0px 10px #d1cfcf;
}
.varient .input_field{
    margin: 15px 10px;
}
.varient select {
    width: 100%;
    height: 50px;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
}
.varient input {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    border: 1px solid grey;
    padding: 10px;
}
.quantity {
    max-width: 50rem;
    margin: 0 auto;
    padding: 40px;
    background: #fff;
    box-shadow: 0px 0px 10px #d1cfcf;
    margin-top: 60px;
}
.quantity input {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    border: 1px solid grey;
    padding: 10px;
}






/* terminate account */

.terminate-account {
    text-align: center;
    padding: 60px 0;
}
.terminate-account h5 {
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 50px;
}
.terminate-account p {
    font-weight: 500;
    line-height: normal;
    margin-bottom: 30px;
}
.terminate-account button {
    margin: 10px;
    background: #000;
    border: none;
    color: #fff;
    width: 10rem;
    height: 45px;
    font-weight: 500;
}

/* end terminate account */



.content22{
    max-width: 100% !important;
}
.boxx {
    width: 100% !important;
    max-width: 100% !important;
}
.boxx table {
    width: 100%;
    text-align: left;
    margin: 30px 0;
}
.basic,.standard,.premium{
    cursor: pointer;
    opacity: .6;
}
.active{
    opacity: 1 !important;
}
.boxx table td {
    padding: 17px 5px;
    border-bottom: 1px solid #afaeae;
}
.boxx table td .ptitle {
    background: red;
    text-align: center;
    width: 13rem;
    height: 140px;
    color: #fff;
    position: relative;
}
.boxx table td .ptitle::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(46deg);
    width: 40px;
    height: 40px;
    background: red;
    opacity: 0;
}
.boxx table td.active .ptitle::before {
    opacity: 1 !important;
}
.boxx table .ptitle h5 {
    line-height: 130px;
    text-transform: capitalize;
}
.boxx table tr td span {
    text-align: center;
    display: block;
    color: #9c9494;
}
.imageqq {
    position: relative;
}
.imageqq img {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    cursor: pointer;
}



